<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheet.css'%}">
    <title>The Beer Game</title>
</head>
<body>
    <div id="navbar">
        <a class="active">Home</a>
        <a href="{% url 'genlog'%}">Login</a>
        <a href="{% url 'reglog'%}">Register</a>
    </div>
    
    <div class="bg"></div>
    <div class="about">
        <h1>About the game:</h1>
        <p>
            The beer game is based on supply chain and involves 4 players where each player represents one of the four stages in the chain i.e the retailer, the manufacturer, the wholesaler, the consumer.
            <br>
            Every week the retailer receives orders from the consumer without any time delay. The retailer fulfills as many units of beer order as it can and then calculates the number of units that are required based on the total number of stocks left in the inventory, the cost of each beer, and the backlog.
            <br>
            After some time delay, the retailer places an order to the wholesaler. The wholesaler tries to fulfill the demand of the retailer and estimates how much beer is needed. The wholesaler places an order to the distributor if he senses he is in need of more stocks. This process is repeated with the manufacturer as well.
            <br>
            Lastly, the manufacturer begins production according to the order demand. When the production is over, the beer is send backwards to the distributor, then from the distributor to the wholesaler, retailer, and finally to the con- sumer. There are time delays in each step during the downstream process, except between the retailer and consumer.
        </p>
        <h1>Goals and Objectives:</h1>
        <p>
            The objective of the game is to receive orders and deliver the items back to the consumer, in a way the maximizes profits and minimizes the total cumulative cost of all stages based the given information. Cost can be arisen from numerous places. There is a cost for holding the inventory, a cost for not satisfying demand so called a ”back order” which is basically a cost that is incurred until the demand for the product is satisfied.
        </p>
    </div>
    <div class="footer">
        <center>made with love by sara & valeria 2021</center>
    </div>
    
    
    <script>
        window.onscroll = function() {myFunction()};

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>
</body>
</html>

