<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheet.css'%}">
    <title>The Beer Game | Login</title>
</head>
<body>
    <div id="navbar">
        <a >Home</a>
        <a class="active" href="{% url 'genlog'%}">Login</a>
        <a href="{% url 'reglog'%}">Register</a>
    </div>
    
    <div class="logo">
        {% load static %}
        <center><img src="{% static 'logo.jpg'%}"></center>
    </div>
    
    <div class="login">
        <center>
            <h3>Login as an instructor</h3>
            <br>
            <h4>E-mail:</h4>
            <input type="email" placeholder="example@email.com"><br>
            <h4>Password:</h4>
            <input type="password" placeholder="password">
            <br>
            <button>LOGIN</button>
        </center>
    </div>
    
    <div class="footer">
        <p>made with love by sara & valeria 2021</p>
    </div>
    
    
    <script>
        window.onscroll = function() {myFunction()};

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>
</body>
</html>

